@model IEnumerable<CartItem>
@{
    Layout = null;
    int stt = 0;
    decimal sumOfPrice = 0;
}
<table class="table table-bordered table-striped table-hover">
    <thead>
        <tr class="bg-primary">
            <th class="text-center">STT</th>
            <th class="text-center">Tên hàng</th>
            <th class="text-center">ĐVT</th>
            <th class="text-center">Số lượng</th>
            <th class="text-center">Giá</th>
            <th class="text-center">Thành tiền</th>
            <th style="width:40px"></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Count() > 0)
        {
            @foreach (var i in Model)
            {
                sumOfPrice += i.TotalPrice;
                <tr>
                    <td class="text-center">@(++stt)</td>
                    <td>@i.ProductName</td>
                    <td class="text-center">@i.Unit</td>
                    <td class="text-center">@i.Quantity</td>
                    <td class="text-right">@i.SalePrice.ToString("N0")</td>
                    <td class="text-right">@i.TotalPrice.ToString("N0")</td>
                    <td class="text-right">
                        <a href="~/Order/RemoveFromCart/@i.ProductID" class="btn btn-xs btn-danger ajax-link" onclick="return confirm('Xóa mặt hàng này?')">
                            <i class="fa fa-minus"></i>
                        </a>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7" class="text-center">
                    <p>Giỏ hàng trống</p>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th colspan="5" class="text-right">Tổng cộng:</th>
            <th class="text-right">@sumOfPrice.ToString("N0")</th>
            <th></th>
        </tr>
    </tfoot>
</table>
<div class="text-right">
    <a href="~/Order/ClearCart" class="btn btn-sm btn-danger ajax-link" onclick="return confirm('Có muốn xóa giỏ hàng không?')">
        <i class="fa fa-trash"></i> Xóa giỏ hàng
    </a>
</div>
<script>
    $(document).ready(function () {
        $(".ajax-link").click(function (e) {
            e.preventDefault(); // Ngăn điều hướng mặc định của liên kết

            $.ajax({
                url: $(this).prop("href"), // Lấy URL từ thuộc tính href
                type: "GET", // Phương thức GET
                success: function (data) {
                    if (data !== "") {
                        alert(data); // Hiển thị thông báo nếu có dữ liệu phản hồi
                    } else {
                        showShoppingCart(); // Cập nhật giỏ hàng nếu không có thông báo
                    }
                }
            });
        });
    });

</script>