@model ProductSearchResult
<div class="container my-5">
    <div>
        @{
            Category? category = CommomDataService.GetCategory(Model.CategoryID);
        }
        @if (category!=null)
        {
            <h3>Danh mục: @category.CategoryName </h3>
        }
        else
        {
            <h3>Danh mục: Tất cả</h3>
        }
        <p>Có tổng số <strong>@Model.RowCount</strong> sản phẩm trong tổng số <strong>@Model.PageCount</strong> trang</p>
    </div>
    <div class="row">
        @foreach (Product i in Model.Data)
        {
            <div class="col-sm-3 md-3 mb-4">
                <div class="card h-100">
                    @if (i.Photo != "")
                    {
                        <img src="http://localhost:5084/images/products/@i.Photo" class="card-img-top" alt="Product" onclick="navigateToDetail(@i.ProductID)">
                    }
                    else
                    {
                        <img src="http://localhost:5084/images/products/noimage.jpg" class="card-img-top" alt="Product" onclick="navigateToDetail(@i.ProductID)">
                    }
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title" onclick="navigateToDetail(@i.ProductID)">@i.ProductName</h5>
                        <p class="text-danger" onclick="navigateToDetail(@i.ProductID)">@i.Price.ToString("N0") vnđ</p>
                        <button class="btn btn-primary mt-auto" onclick="addToCart(@i.ProductID)"><i class="fas fa-cart-plus"></i> Thêm vào giỏ</button>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="container mt-5">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                @for(int i=1; i<=Model.PageCount; i++)
                {
                    if (i == Model.Page)
                    {
                        <li class="page-item active"><a class="page-link" href="">@i</a></li>
                    }
                    else
                    {
                        <li class="page-item"><a class="page-link" href="~/Home/Search?page=@i">@i</a></li>
                    }
                }
            </ul>
        </nav>
    </div>
</div>
<script>
    function navigateToDetail(productID) {
        window.location.href = '/Product/ProductDetail/' + productID;
    }
    function addToCart(productID) {
        var quantity = 1;

        var data = {
            productID: productID,
            quantity: quantity
        };

        $.ajax({
            url: '/Cart/AddToCart',  
            type: 'POST', 
            data: data,  
            success: function (response) {
                window.location.href = '/Cart';
            },
        });
    }
</script>